* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.weather-app {
  background-image: url(./assets/bg/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-app, #Atmosphere {
  background-image: url(./assets/bg/atmosphere.jpg);
}

.weather-app, #Clear {
  background-image: url(./assets/bg/clear.jpg);
}

.weather-app, #Clouds {
  background-image: url(./assets/bg/clouds.jpg);
}

.weather-app, #Drizzle {
  background-image: url(./assets/bg/drizzle.jpg);
}

.weather-app, #Snow {
  background-image: url(./assets/bg/snow.jpg);
}


.app-container {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}